/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-masud-core {
	border: 1px dotted #f00;
}

.posts-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}

.mcore-loading {
	text-align: center;
	padding: 2rem;
	background-color: #fff;
}