/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

img {
	max-width: 100%;
	height: auto;
}

.post-title {
	margin: 0;
}
